<!DOCTYPE html>
<html>
<head>
	<title>Web Scrapper</title>
	<!-- Icon Js -->
	<link rel="icon" href="http://www.clker.com/cliparts/a/3/0/b/12065718081356232646johnny_automatic_NPS_map_pictographs_part_95.svg.med.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- bootstrap, font awesome, googlefonts -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
      <style>
    body{
      /*background-color: #DECADE*/
      background-color: #F2F6D0
    }
    #wrapper{
      width:960px;
      margin: 0 auto;
      padding-top: 5%;
    }
    #articles{
      width:60%;
      height:700px;
      display:inline-block;
      overflow: auto;
    }
    #notes{
      width:30%;
      float:right;
    }
    textarea, input{
      display:block;
      width:100%;
      background-color: #FCF5C7;
    }
    input{
      height:36px;
      font-size: 24px;
    }
    textarea{
      height:200px;
      font-size: 18px;
    }
  </style>
    <!-- Google Fonts Needs to get new font  -->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <!-- jquery, bootstrap js -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script type="text/javascript" src="/scrapper.js"></script>
</head>

<body>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Latest Entrepeneneur Articles </h1>
    <h2> The most recent Entrepreneur articles without paying entrpereneur</h2>
    </div>
</div>
	{{{body}}}
</body>
</html>